{
    "mysql":{
        "host":"192.168.x.1",
        "user":"root",
        "passwd":"",
        "db":"temp",
        "port": 30306
    },
    "temp-control":{
        "host": "192.168.x.2",
        "port": 23
    },
    "weather": "",
    "fan": "192.168.x.3"
}